// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.signup{
  text-decoration: none !important;
  font-weight: bold;
  color:red !important;
  padding: 5px;
  border: 1px solid red;
}